body{
    margin: 0;
}
div{
    min-width:75px;
    min-height:75px;
    margin: 20px;
    float:left;
    background-color: #D8D8EB;
}
button{
    margin: 10px;
}
.divStyleA1{
    background-color:#6C3365;
}
.divStyleA2{
    background-color:#5151A2;
}

#divA3>p {
    margin-left: 10px;
    color: blue;
    width: 200px;
    cursor: pointer;
    float:left;
  }
#divA3 span {
    color: red;
    cursor: pointer;
    float:left;
  }
#divA3>.abs {
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: pointer;
  }
#divA4{
    position:absolute;
    background-color:#FF95CA;
    top:300px;
}
#divA41{
    margin-left:35px;
    margin-top:55px;
}